
/* css for main bashbord*/
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.pie{
  --w: 150px; /* Largeur du cercle */
  --p: 10; /* Pourcentage du pie chart (0-100) */
  --b:20px; /* Largeur de l'anneau */
  --c: #3b82f6; /* Couleur du pie chart */
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white calc(100% - var(--b)), transparent 0),
    conic-gradient(var(--c) calc(var(--p) * 1%), #ddd 0);
}
